{% extends 'base.html' %}

{% block body %}
  <h1> Welcome, {{ session['name'] }}</h1>

  {% for melon in melons.values() %}
    <div class="melon-div">
      <h3>{{ session['name'] }}, this is a {{ melon['name'] }}</h3>
      <h2>Loved {{ melon['num_loves'] }} times.</h2>
      <img
        src="{{ melon['img'] }}"
      />
    </div>
  {% endfor %}
  
  <h2>Love a melon</h2>
  <form action="/love-melon" method="POST">
    <label for="melon-select">Choose a melon to love</label>
    <select id="melon-select" name="melon">
      {% for melon_id, melon in melons.items() %}
        <option value="{{ melon_id }}">{{ melon['name'] }}</option>
      {% endfor %}
    </select>
    
    <input type="submit" />
  </form>
{% endblock %}
